.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div {
  display: flex;
  flex-direction: column;
}

.vh-100 {
  height: 100vh;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 20px;
  border-radius: 5%;
  background-color: #282c34;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

p.thin {
  font-weight: 200;
}

p.sub-text {
  font-weight: 200;
  color: #cccccc;
  font-size: 0.8rem;
}

p.label {
  font-weight: 200;
  color: #cccccc;
  font-size: 0.8rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
