$Color-Primary: #ffc815;
$Color-Secondary: #585858;
$Color-White: #ffffff;
$Color-Black: #000000;
$Color-Gray: #cccccc;
$Color-Error: #ff0000;
$Padding-X-Small: 0.5rem;
$Padding-Small: 0.8rem;
$Padding-Medium: 1rem;
$Padding-Large: 1.5rem;
$Border-Radius: 1rem;
$Font-Family: "Times New Roman", Times, serif;

a {
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
}

div.block {
  display: block;
}

.vh-100 {
  height: 100vh;
  max-height: 100vh;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: $Padding-Large;
  border-radius: $Border-Radius;
  background-color: $Color-Secondary;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: $Color-White;
  font-family: $Font-Family;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: $Color-White;
  font-family: $Font-Family;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: $Color-White;
  font-family: $Font-Family;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: $Color-White;
  font-family: $Font-Family;
}

p.thin {
  font-weight: 200;
}

p.sub-text {
  font-weight: 200;
  color: #cccccc;
  font-size: 0.8rem;
}

p.label {
  font-weight: 200;
  color: #cccccc;
  font-size: 0.8rem;
  margin: 0 0 $Padding-X-Small 0;
}

p.no-margin {
  margin: 0;
}

p.error {
  color: $Color-Error;
}

.dark {
  color: $Color-Black;
}

.no-margin {
  margin: 0;
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollable-y {
  overflow-y: scroll;
}
.scrollable-y::-webkit-scrollbar {
  width: 5px;
  z-index: 1;
  background-color: transparent;
}
.scrollable-y::-webkit-scrollbar-track {
  border-radius: 10px;
}
.scrollable-y::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $Color-Primary;
}

button {
  padding: $Padding-X-Small $Padding-Medium;
  font-size: 1rem;
  color: $Color-White;
  border-radius: $Border-Radius;
  border-width: 0;
  cursor: pointer;
}

button.primary {
  background-color: $Color-Primary;
}

button.secondary {
  background-color: $Color-Secondary;
}

button.disabled {
  background-color: $Color-Gray;
  cursor: default;
}

button:hover {
  background-color: $Color-White;
  color: $Color-Gray;
}

/* Message box starts here */
.message-container {
  clear: both;
  position: relative;
  display: block;
  margin: $Padding-X-Small 0;
}

.message-container .arrow {
  width: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  top: 6px;
  right: -1px;
}

.message-container .arrow .outer {
  width: 0;
  height: 0;
  border-right: 20px solid #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.message-container .arrow .inner {
  width: 0;
  height: 0;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
}

.message-container .message-body {
  float: left;
  max-width: 300px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: $Padding-Small;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.message-container .message-body p {
  margin: 0;
}

input:focus-visible {
  outline: none;
}
